<header class="header-main">
  <div class="header-main-logo">
    <img
      src="assets/svgs/pokeball.png"
      alt="pokeball"
      class="logo"
      height="32px"
      width="32px"
    />
    <nav class="header-main-nav">
      <ul>
        <li>
          <a routerLink="/pokemon" routerLinkActive="activebutton">Pokemon</a>
        </li>
        <li>
          <a routerLink="/secondary" routerLinkActive="activebutton"
            >SECONDARY</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
