nav li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

nav li a {
  color: var(--secondaryColor);
  font-weight: 800px;
  height: 100%;
}

nav li :hover {
  background-color: var(--secondaryColor);
  color: var(--secondaryForeColor);
}

nav ul :first-child {
  margin-left: 2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header-main {
  width: 100%;
  border: solid var(--secondaryColor) 0.5rem;
  height: 6rem;
  color: var(--primaryForeColor);
  background-color: var(--primaryColor);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  z-index: 999;
  border-radius: 3rem;
}

.header-main-logo {
  width: 120px;
  height: 100%;

  display: flex;
  align-items: center;
}

.header-main-nav {
  width: 120px;
  height: 100%;

  display: flex;
  align-items: center;
  font-size: 3rem;
}

.activebutton {
  background-color: var(--secondaryColor);
  color: var(--secondaryForeColor);
}
